:root {
    --darkBlue: rgb(100, 149, 237); 
    --mediumBlue: rgb(65, 105, 225);
    --lightBlue: rgb(135, 206, 255); 
 }
 @font-face {
    font-family: MyFont;
    src: url(../static/Titillium_Web/TitilliumWeb-Regular.ttf);
 }
* {
    font-family: MyFont;
    padding: 5px;
    margin: 5px;
    /* border: 1px solid black; */
}
#webname {
    background-color: var(--darkBlue);
}
header {
    background-color: var(--mediumBlue);
 }
.classA {
    width: 40%;
    display: inline-block;
}

.profile-picture {
    width: 300px;
    height: auto;
}
nav a {
    text-decoration: none;
    margin: -5px; 
    margin-right: 15px;
    font-size: x-large;  
    color: var(--lightBlue);
    float: left;
    display: block;
}

nav a:hover {
    background-color: gray;
}

nav a.active {
    background-color: gray;
}
 
nav {
    overflow: hidden;
}
nav a.icon {
    display: none;
}

form * {
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 10px;
    text-align: center; 
}
th {
    padding: 12px;
    background-color: var(--darkBlue);
    color: white;
    width: fit-content;
}
table tr:hover {
    background-color: var(--mediumBlue);
}
table tr:nth-child(even) {
    background-color: var(--lightBlue);
}
input[type=submit] {
    background-color: var(--darkBlue);
    border: none;
    color: black;
    border-radius: 15px;
}
/* #FavList {
    display: none;
} */
#SeeMoreBTN{
    background-color: var(--lightBlue);
    border: 0px;
    border-radius: 16px;
    font-size:large;
}
 
#longIntro, #readLess {
    display: none;
}
#readLess, #readMore {
    font-style: italic;
    background-color:var(--lightBLU_A);
}

#ValidateMsg {
    width: max-content;
    margin: auto;
}

#map {
    height: 40vh;
}

.funIMG {
    width: 20%;
    border-radius: 100%;
}

.mainFun {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#item1, #item2, #item3, #item4 {
    width: 40vw;
    margin: auto;
}

#container {
    max-width:fit-content;
    margin: auto;
}

@media screen and (max-width: 650px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
 